@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
      font-family: "Quicksand", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}
*{
      margin:0;
      padding:0;
  }
  
  /* shared styles */
.display-flex{
        display: flex;
}
.orange-color{
      color: orange;
}
.skyblue-color{
      color: SkyBlue;
}
section{
      max-width: 1440px;
      margin: 60px auto;
}
.navbar,
.banner{
      max-width: 1440px;
      margin: 20px auto;
}
.title{
      font-size: 2.875rem;
      font-weight: 700;
      text-align: center;
}
.btn-primary{
      color: #ffffff;
      background-color: black;
      padding: 10px 47px;
      border-radius: 12px;
      border: none;
      font-weight: 700;
      font-size: 1.25rem;
}



/* navber related styles */
.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.brand-title{
      font-weight: 700;
      font-size: 2rem;
}
.brand{
      align-items: center
}
.brand img{
      max-width: 62px;
      max-height: 62px;
}
.nav-item{
      list-style: none;
      margin-right: 32px;
}
.nav-link{
      text-decoration: none;
      font-size: 500;
      font-size: 1.25rem;
}
.btn-contact{
      font-size: 1.25rem;
      font-weight: 600;
      color: #ffffff;
      background-color: orange;
      padding: 10px 60px;
      border-radius: 12px;
      border: none;
}
.nav-skyb{
      color: #05D4DF;
}
.nav-blue{
      color: #5D58EF;
}
#homeid{
      font-weight: 700;
}
.display-blcok{
      display: none;
}


/* banner related styles */
.banner{
      justify-content: space-between;
      gap: 50px;
}
.banner-info{
      max-width: 640px;
      margin: 50px auto;
}
.info-desription{
      font-size: 1.25rem;
      margin: 24px auto;
}
.banner-img img{
      width: 100%;
}
.info-title{
      font-weight: 700;
      font-size: 4rem;
}


/* Curriculum related styles */
.curriculum{
      background-image: url(/img/bg.png);
      background-repeat: no-repeat;
}
.curriculum-box{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 80px;
}
.cbox-card{
      border-radius: 19px;
      text-align: center;
      background-color: #fff;
      border-radius: 13px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 300px;
      padding: 20px;
      transition: transform 0.3s;
}
.cbox-title{
      font-weight: 700;
      font-size: 1.5rem;
      margin: 32px auto;
}
.cbox-desription{
      color: #808080;
      margin: 33px 40px;
}
#cbox-blue{
      font-weight: 700;
      color: #64C8FF;
}
#cbox-yellow{
      font-weight: 700;
      color: #F0AA00;
}
#cbox-vaguni{
      font-weight: 700;
      color: #8700FF;
}
.cbox1{
      background: linear-gradient(to bottom, #e0f7fa, #ffffff);
}
.cbox2{
      background: linear-gradient(to bottom, #fff3e0, #ffffff);
}
.cbox3{
      background: linear-gradient(to bottom, #f3e5f5, #ffffff);
}






 /* small size device respponsive media query  */
@media screen and (max-width: 576px) {
      .hide-on{
            display: none;
      }
      .manu-icon{
            font-size: 36px;
      }
      .display-blcok{
            display: block;
      }
      .navbar{
            border-bottom: 1px solid orange;
            padding: 16px;
      }
      /* banner related styles */
      .banner{
            flex-direction: column-reverse;
            justify-content: center;
            margin: 20px 16px;
      }
      .banner-info{
            text-align: center;
      }
      /* main section  */
      .curriculum{
            background-image: none;
      }
}